/* mat-card{
    border: 2px solid rgb(130, 130, 250);
    border-radius: 10px;
    background-color: rgb(162, 216, 218);
    max-width: 500px;
}
.example-full-width{
    width: 500px;
    margin-top: 30px;
} */